body{
    background-color: rgba(241, 127, 127, 0.533);
    color:rgb(157, 151, 245);
font-family: Playwrite Hrvatska Lijeva;
}

.chamada{
    background-color: rgb(110, 15, 199);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.chamada-texto {
    margin-right: 10%;
}
h1{
    font-size: 30px;
}
p{
    font-size: 30px;
}
header{
    font-size: 30px;
    padding-left: 20px;
}
img{
    height: 200px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    background-color: rgb(16, 140, 189);
}
.categoria-videos{
    display: flex; 
    overflow-x: auto;
    gap: 10px;
}
h2{
    font-size: 30px;
}